@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}
.navbar{
    padding-left: 390px;
    align-items: center;
   justify-content: space-around;
    display:  flex;
    background-color: rgba(180, 100, 100, 0.733);
    box-shadow:4px 3px 5px #333333;
   
}
.out{
   
    padding-left: 15px;
    height: 50 px;
    width:100px ;
    background: rgb(188, 190, 191);
    justify-content: space-evenly;
    border-radius: 18px;
    display: flex;
    align-items: center;
    color: rgb(25, 25, 25);
    box-sizing: border-box;

}
.out a{
    text-decoration: none;
    color: black;
}
.icon{
    display: flex;
    font-size: 20px;
    height: 28px;
    width:29px;
    border-radius: 50%;
    background: rgb(150, 150, 158); 
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-top: 16px;
    padding-left:5px;
    
}
.icon i{
    
    font-size:20px;
    height: 28px;
    width: 22px;
    border-radius:60%;
    
}
.main{
    display: flex;
    height: 500px;
    width: 100%;
    margin-left: 400px;
    margin-top: 50px;
}
.deposit{
    margin-top: 40px;
}

